

.marvel-background{
    // background-color: rebeccapurple;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.774), rgba(66, 55, 64, 0.73)), url(../../assets/login/wallpaperflaretres.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    // color: blue
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 1.5s;
  }

.hero-screen{
    min-height: 93vh;
    overflow: hidden;
}